@import "https://unpkg.com/open-props" layer(design.system);
@import "https://unpkg.com/open-props/normalize.min.css" layer(demo.support);

@layer demo {
  .rounded-border-gradient {
    inline-size: var(--size-content-1);
    aspect-ratio: var(--ratio-widescreen);
    border: solid var(--size-2) transparent;
    border-radius: var(--radius-4);
    background:
      linear-gradient(var(--surface-1), var(--surface-1)) padding-box,
      var(--gradient-1) border-box;
  }
}

@layer demo.support {
  div {
    display: grid;
    place-content: center;
    padding: var(--size-5);
    gap: var(--size-5);
  }
}

body {
  margin: 0 0;
  background-color: #0D0D0D;
  color: #D9A689;
  font-family: 'Kanit', sans-serif;
  font-family: 'Noto Serif', serif;
}

form {
    width:  100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
}

div {
  margin: auto;
}

.login-div {
    margin: auto;
    height: 50px;
    width: 75%;
    padding: 10px;
}

form > * {
    width: 100%;
    margin: 1%;
}

#validator {
    margin: auto;
    width: 15%;
    flex: 1 0 130px;
    min-width:  20px;
}

.submit {
    margin: auto;
    flex: 1 0 130px;
}
